* {
 font-size : 18px;
 color : #eeeeee;
}
textsize {
    font-size : attr(size) !important;
}
textcolor {
    color : attr(color);
}
type[type="bold"] {
    font-weight: bold;
}
type[type="italic"] {
    font-style: italic;
}
type[type="underline"] {
    text-decoration: underline;
}
type[type="code"] {
    
}
type[type="thin"] {

    
}
type[type="quote"] {

    
}
type[type="blink"] {

    
}
