* {
 font-size : 18px;
 color : #eeeeee;
 background-color: #111122 ;
}
textsize {
    font-size : attr(size) !important;
}

textfont[type="monospace"]{

}

textfont[type="serif"]{

}

textfont[type="sans"]{

}

huge{
font-size: 26px;
}

big{
font-size: 22px;
}

small{
font-size: 14px;
}

table {
border: 1px solid #aaaa99;
 width: max-content;
 height: max-content;
 display:block;
}
table heading {
 display:block;
 background-color: #333344;
border: 2px solid #aaaa99;
 width: max-content;
}
table row {
 display:block;
border: 1px solid #aaaa99;
 width: max-content;
}
table item {
border: 1px solid #aaaa99;
}
scroll{
display:block;
}

scroll[type="onetime"][direction="left"]{
transform:translateX(100%);
animation: left 15s linear;
}
scroll[type="infinite"][direction="left"]{
transform:translateX(100%);
animation: left 15s linear infinite;
}
scroll[type="bounce"][direction="left"]{
transform:translateX(100%);
animation: left 15s linear infinite alternate;
}
scroll[type="onetime"][direction="right"]{
	transform:translateX(-100%);
animation: right 15s linear;
}
scroll[type="infinite"][direction="right"]{
transform:translateX(-100%);
animation: right 15s linear infinite;
}
scroll[type="bounce"][direction="right"]{
transform:translateX(-100%);
animation: right 15s linear infinite alternate;
}

@keyframes left {
0%{
transform: translateX(70%);
}
100%{
transform: translateX(-70%);
}
}

@keyframes right {
0%{
transform: translateX(-70%);
}
100%{
transform: translateX(70%);
}
}

textcolor {
    color : attr(color) !important;
}
type[type="bold"] {
    font-weight: bold;
}
type[type="italic"] {
    font-style: italic;
}
type[type="underline"] {
    text-decoration: underline;
}
type[type="code"] {
 background-color : #002b36;
 color: #839496;
 border: 2px solid #073642;
 border-radius: 5px;
 padding : 5px;
}
type[type="code"]::selection{
 background-color: #073642;
 color: #839496;
}
type[type="thin"] {
 font-weight: lighter;
}
type[type="quote"] {
 content: "\A";
 white-space: pre;
 border-left: 6px solid #333344;
 background-color : #222233;
}

break {
 content: "\A";
 white-space: pre;
 display: block;
 margin-bottom: 1em;
}
type[type="blink"] {
 animation: blinker 1s linear infinite;
}

type[type="spoiler"]{
 background-color: #555555 ;
 color: #555555;
}

type[type="spoiler"]:active {
 background-color: #555555 ;
 color: #eeeeee ;
}
type[type="spoiler"]:hover {
 background-color: #555555 ;
 color: #eeeeee ;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

line {
 border: 1px solid #aaaaaa;
 width: 100%;
 height: 0px;
 content: "\A";
 white-space: pre;
 display: block;
 margin-bottom: 1em;
}

align[type="center"] {
 text-align: center;
 display:block;
}

align[type="left"] {
 text-align: left;
 display:block;
}

align[type="right"] {
 text-align: right;   
 display:block;
}

align[type="justify"] {
 text-align: justify;    
 display:block;
}

textdirection[type="ltr"] {
direction: lro;
}

textdirection[type="rtl"] {
 direction: rlo;
}

highlight[color="red"]{
background-color: #ff0000aa;
}
highlight[color="cyan"]{
background-color: #00ffffaa;
}
highlight[color="yellow"]{
background-color: #ffff00aa;
}
highlight[color="green"]{
background-color: #00ff00aa;
}
highlight[color="blue"]{
background-color: #0000ffaa;
}
highlight[color="grey"]{
background-color: #888888aa;
}
highlight[color="invert"]{
background-color: #ff0000aa;
}
highlight[color="purple"]{
background-color: #ff00ffaa;
}
list[type="round"]{
display: list-item;
list-style-type:disc;
}
list[type="square"]{
 display: list-item;
list-style-type:square;   
}
list[type="plus"]::before{
content: "+ ";
}
list[type="plus"]{
 display: list-item; 
}
list[type="minus"]::before{
content: "- ";
}
list[type="minus"]{
 display: list-item;
}
list[type="circle"]{
 display: list-item;
list-style-type:circle;   
}
list[type="x"]::before{
content: "[x] ";
}
list[type="x"]{
 display: list-item;
}
list[type="star"]::before{
content: "* ";
}
list[type="star"]{
 display: list-item; 
}
list[type="number"]{
 display: list-item;
list-style-type:decimal;   
}
list[type="letter"]{
 display: list-item;
list-style-type:lower-alpha;   
}
list[type="caps"]{
 display: list-item;
list-style-type:upper-alpha;   
}
navbar{
 display:block;
position:sticky;
top:0;
width:100%;
background-color:#333344;
overflow:hidden;
}
navbar item{
float:left;
 background-color:#333344;
}
